[2018-01-24 09:48] wagerrhodlr opened #2 "No source code?"
Will this project be open source? If so when?

[2018-02-18 12:01] schinzelh opened #1 "Build system broken / missing files."
It seems you have re-created the github repo from a PIVX source package - unfortunately the source package distribution does not contain all files of the repo, e.g. depends/patches is empty in your repo, while the pivx-repo contains several files. Further depends/Makefile is missing.

This break the ability to build your project with gitian, which worked yesterday before you scrapped the repo.

[2018-02-19 08:06] schinzelh commented on #1
Looks like you have fixed it with https://github.com/wagerr/wagerr/commit/27a0e70940709816a4a8d48f5db15bd4cb592f1f

Thanks!

[2018-02-19 08:06] #1 closed, assigned to nobody

[2018-02-20 19:54] kiahmed opened #3 "mainnet sync hung"
### Describe the issue
mainnet running with incoming port open , but looks like sync is hung at that block forever. Is that the case for others too? Also, as I mentioned p2p incoming port open but never got any incoming peer.

### Screenshots.

![capture](https://user-images.githubusercontent.com/28849607/36445998-e2e2e174-164d-11e8-89a5-51c9baf0cd63.PNG)

### What version of Wagerr Core are you u

[2018-02-20 20:11] flatyoder commented on #3
You aren't the only one. Come join us on the discord or telegram chat. The dev team seems to be making progress, and will be updating us all soon.

[2018-02-20 22:27] kiahmed commented on #3
that means its broken again then. would wait for next release

[2018-02-20 23:00] Kordau opened #4 "Win 10 - wagerr-qt crashes from options window"
wagerr-qt crashes when launched with -disablewallet

### Steps to reproduce
1. Launch with "wagerr-qt.exe -disablewallet"
2. Open "Options" window
3. Click "OK".

### Expected behavior
Options window should close and wagerr-qt continues running.

### Actual behavior
wagerr-qt closes unexpectedly.

### What version of Wagerr Core are you using?
- Wagerr Core version v1.4.34.0-Vegas (64-bit)
- It al

[2018-02-21 00:58] Cryptarchist commented on #3
@kiahmed & @flatyoder thank you for your patience, the latest version [1.4.34.1](https://github.com/wagerr/wagerr/releases/tag/v1.4.34.1) will resolve this issue.

If it continues to get stuck, please use `resync` to synchronise the blockchain from scratch.

[2018-02-21 00:58] #3 closed, assigned to nobody

[2018-02-21 09:33] Zkffkah opened #6 "Starting masternodes from the masternode tab fails with "Error: invalid IP""
same problem as https://github.com/PIVX-Project/PIVX/issues/373, and is solved upstream

[2018-02-21 23:44] Cryptarchist commented on #6
@lowwor thank you for looking into this, I have opened #7 for review.

[2018-02-22 03:43] atenjin opened #8 ""masternode start local" return "Not capable masternode: Could not connect to xxxxx""
### "masternode start local" return "Not capable masternode: Could not connect to  xxxxx"
vps:
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 8.2 (jessie)
Release:        8.2
Codename:       jessie

I compile from the source code.
[code]
my wager.conf is like this:
[code]
and I have transfer 25000 wgr to the address which is produced from the masternodeprivke

[2018-02-22 06:33] Cryptarchist commented on #8
@JKingdom I just set up a quick tutorial for setting up a remote masternode on a VPS and having your main wallet locally (or another location).

https://github.com/wagerr/wagerr/wiki/Setting-up-a-masternode

Would you mind taking a look to see if that assists you at all?

[2018-02-22 07:15] atenjin commented on #8
I have read this tutorial before.
My question is start masternode just in vps, not from a external node to start masternode.
Through I haven't read all source code, I guess the mechanism is that the other node add the masternode to the global map so that the source node can start self.
But when somebody what to add self to the global masternode map, it would meet this problem(I guess).

ps: I thin

[2018-02-22 09:08] ChristBKK opened #12 "Timeline High Sierra build?"
Can you give us some timeline? Days or weeks? Thanks

[2018-02-22 10:46] tools4 commented on #12
you can compile the source code for yourself.
![image](https://user-images.githubusercontent.com/36730224/36534133-a2518b10-1800-11e8-83aa-1af8ce164013.png)

[2018-02-22 14:07] Zkffkah opened #13 "Masternode Setup Guide (Chinese Version)"
I have written an Chinese version of the wagerr masternode setup guide [here](https://shimo.im/docs/qNqNpCAopXs1B5bA/). And it's used widely by the Chinese community and has helped lots of people setting up their masternode.

I think we can included it in the official wiki with an external link or convert it into markdown and put it directly in the wiki to help those who need a guide in Chinese ve

[2018-02-22 15:15] vincent7q opened #14 "Master Node port 55002 not listening"
Failed to setup the masternode according to the instruction

after start up remote wallet, port 55002 is not open as checked by command "netstat -l" on ubuntu

therefore, local wallet report "failed to start the masternode"

[2018-02-22 15:40] #14 closed, assigned to nobody

[2018-02-22 19:52] WagerrTor commented on #6
thanks lowwor for creating the issue.

I have no issues and can reproduce it only by wrong/not specified settings which does not make it to a bug. Everything works correctly on my side. I see that in other project they have implemented it, but I miss also there some input for this issue. If your external IP is correct, then you will have no issues. If you start cold with 127.0.0.0/24 there are als

[2018-02-22 20:04] WagerrTor commented on #13
thank you very much for sharing. I sadly am not able to verify, I will ask somebody to verify it before we implement it. I Assigned it to the correct person. I want to include the guide directly in masternode.conf (which is partially there). And I was not able to verify/write in chinese and we will try to add all translations and guides directly into the core.

Wagerr team is working on  guides an

[2018-02-22 20:09] WagerrTor commented on #8
hello and thanks for submitting the issue as well for nice overview and analysis.

Please look into the issue #6 . My answer there applies here too. Ensure please that your port is open (_55002_).

I will just close this one but feel free to reply here and reopen if the issue is still present.

[2018-02-22 20:09] #8 closed, assigned to zeroedge83, WagerrTor, Kokary, Cryptarchist

[2018-02-22 20:18] WagerrTor commented on #4
please try [latest release version](https://github.com/wagerr/wagerr/releases/latest), it is in v1.4.32.4 currently.

Note: please ensure to compile from clean sources if you did not already.

[2018-02-22 20:23] WagerrTor commented on #4
I tried now latest version and could not reproduce this behaviour. Daemon and QT versions start. I tested with latest release version.

I am closing this one, if you still (_or anybody_) still gets this error please reply here to reopen this issue.

[2018-02-22 20:23] #4 closed, assigned to WagerrTor, Kokary

[2018-02-22 20:52] kiahmed opened #15 "transfer wgr"
if I transfer wgr token directly from yobit exchange to my master-node wallet , is it gonna work?

[2018-02-23 00:27] WagerrTor commented on #15
Hello kiahmed,

I hope I can help you, but I am sorry to tell you that we can not reply any questions about yobit, we have nothing to do with them and I do not recommend this particular exchange to be used at all, especially if you can use DEX and wagerr's official releases.

Please ask yobit support about it. I assume that they as usually did not start this client but that they are on waves netwo

[2018-02-23 00:27] #15 closed, assigned to zeroedge83, WagerrTor

[2018-02-23 16:29] vincent7q opened #17 "Failed to start masternode"
Issue: failed to start the masternode

Below error message pop up when i start masternode from local wallet

![image](https://user-images.githubusercontent.com/746010/36604686-5c5915de-18f9-11e8-83bf-d012aee94442.png)

version of wagerr:  v1.4.34.2-Vegas (64-bit)
 Machine specs:
- OS: Windows 10
- CPU: i5
- RAM: 8GB
- Disk size:
- Disk Type (HD/SDD):

[2018-02-24 04:03] vincent7q commented on #17
masteraddress was unlocked. Therefore, need to ensure 25000 WGR are locked in local wallet before start masternode.

[2018-02-24 04:03] #17 closed, assigned to nobody

[2018-02-24 12:45] Zkffkah commented on #6
Yeah, I have those settings in my server's wagerr.conf, something like this.
[code]
Sorry I don't describe the detail. The problem occur only when I click the start alias in my local wallet with the gui start alias button. It's ok with the debug console command.
![cache_5ce38d292e939200](https://user-images.githubusercontent.com/5444033/36630566-91c443ba-19a3-11e8-8448-079e09e044e3.jpg)

[2018-02-24 14:48] Kokary commented on #6
Discussion on this from Bitcoin: https://github.com/bitcoin/bitcoin/pull/7553 and here: https://github.com/bitcoin/bitcoin/issues/7098

How does this solve the issue?

The PR seems like a good idea anyway.

[2018-02-24 16:13] llthomps commented on #12
I was able to compile 1.4.34.2 using the following configuration...

`./configure LDFLAGS="-L/usr/local/opt/openssl/lib" CPPFLAGS="-I/usr/local/opt/openssl/include" -with-boost=/opt/local/`

I also had to remove the following code from this file [/src/qt/wagerr.cpp](https://github.com/wagerr/wagerr/blob/25cf70fa84a9c0168097be9c222c15b55bf99777/src/qt/wagerr.cpp)

`#ifdef Q_OS_MAC
#if __clang_major

[2018-02-24 20:19] kiahmed opened #18 "maternode outpus nothing"
### Describe the issue
I was trying to setup masternode following official guideline, but at step 5 it asks to get output with the following command . In my wallet , it returns nothing even thought there is 25k Wgr on two separate transactions. I can put any output in masternode.conf file to start it. Any idea?

15:12:03
￼masternode outputs
15:12:03
￼[
]

### Can you reliably reproduce the issue?

[2018-02-25 21:27] WagerrTor commented on #18
Hello,

I would just assume that you either did something wrongly or you tried that command before your transaction got enough confirmations to be visible.

can you post txid's of your transactions with 25k?

[2018-02-25 21:30] WagerrTor commented on #6
@lowwor
Can you tell me also which client do you use and if this issue is resolved for you in the meantime?

[2018-02-25 21:32] WagerrTor commented on #13
@zeroedge83 any update on this?

[2018-02-25 21:34] WagerrTor commented on #12
thanks @llthomps for letting us know and helping.

@Cryptarchist can you try that?

[2018-02-25 21:43] #6 closed, assigned to zeroedge83, WagerrTor, Kokary, Cryptarchist

[2018-02-26 01:04] kiahmed commented on #18
go it fixed

[2018-02-26 02:59] Zkffkah commented on #6
I am using v1.4.34.2 which the problem still exists. I will check with the new version when it's available with #7 in it.

[2018-02-26 11:22] #18 closed, assigned to WagerrTor

[2018-02-26 11:54] zeroedge83 opened #19 "Moneysupply reports incorrectly in GETINFO"
"moneysupply" displays incorrect value on GETINFO

[2018-02-26 12:29] zeroedge83 commented on #13
looks good @WagerrTor

[2018-02-26 12:30] zeroedge83 commented on #12
@Kokary worth a try

[2018-02-26 13:30] Kekcoed opened #20 "Wagerr core wallet _ Problems with converting to zWGR"
Hello!

I have troubles with wagerr core wallet.  Now i try to explain.
1)Firstly i download wagerr core, then sync it. It was first released version.
2) My WGR coins were on wagerr.com -  15555 coins. I have moved them to wagerr core wallet successfully.
3) Then i try to convert 5 WGR to zWGR. It was my first operation on this wallet after deposit was made. In privacy tab i press "mint zerocoin".

[2018-02-26 15:42] WagerrTor commented on #19
https://pivx.org/knowledge-base/pivx-does-not-have-a-max-coin-supply-wont-this-devalue-my-investment/

[2018-02-26 15:42] #19 closed, assigned to nobody

[2018-02-26 16:30] WagerrTor commented on #20
Здравствуйте Kekcoed и спасибо за детальную информацию. Я вам по русски пиши потому-что вижу что у вас клиент на русском.

Я думаю вам просто пришлось подождать. Нужно 30 подтверждений для того что-бы было принято.

Я тоже вижу что у вас уже появился баланс на zWGR, так-что я думаю ваша проблема решена.

1. Всегда делайте резервную копию `wallet.dat` и папки `zerocoin` .
2. Когда нажимаете на сбро

[2018-02-26 20:31] kiahmed opened #21 "masternode automatically goes to MISSING!"
### Describe the issue
I had MN up and running with staking icon on couple nights ago. Yesterday my server restarted and since then when I start the MN it remains ENABLED on for several hours then falls back to MISSING on its own and also the staking would never turn on again even with unlocked wallet and checked option.
Also the time remains 0:00 and sometimes goes to negative ..whats that mean?

[2018-02-27 03:57] WagerrTor commented on #21
Hello,

there are many guides on internet where you can look up all different variations which can be used with a masternode.

if you use _masternode.conf_ (multi mode) instead of single mode, **you need to ensure that you run a script restarting your masternodes in some period of time**. **All masternode coins have this issue** and in most cases _users are told to use single mode_ as it requires

[2018-02-27 15:46] kiahmed commented on #21
all the configs are done right. I even ran under a new mn key. It still keeps falling back to MISSING. I am not sure then how other people kept running and getting rewards then?

[2018-02-27 17:54] Kekcoed commented on #20
Здравствуйте, большое спасибо за ваш ответ, в моем случае мне помог  4-ый пункт.

[2018-02-27 18:00] #20 closed, assigned to WagerrTor, Kokary

[2018-02-28 07:28] WagerrTor opened #22 "🚧 **Apply fixes and patches from pivx source** 🚧"
We need to review all fixes and patches all the time. In this project we will apply all fixes and patches up to 28. Feb.
- [x] Create a list of patches
- [x] Create project
- [ ] Create card for each patch if not applied with info about the reason
- [x] Apply all patches

[2018-02-28 07:32] WagerrTor commented on #22
We will review and apply all patches from PIVX until now.

@Assigners & @Contributors
To get all patches since our fork, please git clone [PIVX sources](https://github.com/PIVX-Project/PIVX) run `git format-patch -n 9e2ed8f0f838ae7659487f256a153de66ca5a7a7` and they will be stored in the folder you run this command from. We need to review them all if and why are they to be applied (or not).

here

[2018-03-01 06:31] Cryptarchist commented on #12
@ChristBKK @tools4 @llthomps I have uploaded High Sierra builds [here](https://github.com/wagerr/wagerr/releases/tag/v1.4.34.2) (labelled High Sierra only).

Please give them a go.

[2018-03-01 14:17] llthomps commented on #12
@Cryptarchist thanks, it works for me!

[2018-03-01 22:55] Cryptarchist commented on #12
@llthomps thanks for taking a look!

I will close this thread as the issue is now resolved.

[2018-03-01 22:55] #12 closed, assigned to WagerrTor, Kokary, Cryptarchist

[2018-03-02 00:06] Cryptarchist commented on #22
At a minimum I am keen to bring in the patches that not only relate to PIVX, but are the upstream patches coming from Bitcoin or Dash.

I will focus on these patches initially:

**Update build system from upstream (#23)**
- [x] 0052-Build-Update-build-system-from-upstream.patch
- [x] 0053-Fix-VLA-error-in-hash.h.patch
- [x] 0054-Use-and-define-strnlen-if-not-already-defined.patch
- [x] 0055-mac-up

[2018-03-02 14:49] dreamwv02 opened #25 "zwgr autoconvert"
On February 26th I transferred wgr from 1 core to another core.  I moved from a laptop computer to a desktop computer.  The transfer of wgr from 1 core to another core was completed without issue.  The zwgr automint function was not disabled and as such the function took 1000 wgr to convert to zwgr.  The conversion was confirmed on the blockchain on 2/26/2018 at 11:43 am and as of this morning has

[2018-03-03 00:00] #13 closed, assigned to zeroedge83, WagerrTor

[2018-03-04 10:01] WagerrTor commented on #25
Hello dreamwv02,

thanks for supplying the issue. You may look up into this issue #20 , as it is resolved there. The reply was written in russian but steps are the same.

1. backup your data directory (wallet.dat and zerocoin directory at least)
2. Try resetspentzerocoin
3. If resetspentzerocoin does not resolve the issue, go to next step
4. Resync your wallet by starting your daemon/qt with --res

[2018-03-04 10:09] WagerrTor commented on #21
can you post your configs?
(_please make sure that you removed private keys, username and password/s from your config before posting, please double check when you do so, it happened already in past that people uploaded their private keys or username/password when they shared their configs in public_)

[2018-03-04 13:54] dreamwv02 commented on #25
im not a programing wiz so bear with me, I have backed up the wallet.dat file, is there a separate zerocoin directory that I need to backup? the reset spent zerocoin.  is that the reset button in the privacy tab?  Resync is that done in the wallet repair drop down under tools? or is this done in the debug window?

[2018-03-04 17:11] WagerrTor commented on #25
you can run all those commands in your degub console. You can also write `help [yourcommand]` to receive detailed instruction on how to use it. As example, command that should resolve your issue `resetmintzerocoin <extended_search>`, extended search is optional, it is a bool value which means that you have either `true`or `false` as value:
![grafik](https://user-images.githubusercontent.com/358949

[2018-03-04 18:17] dreamwv02 commented on #25
well no joy on the resetspentzerocoin, resync (which was done under wallet repair), or resetmintzerocoin.   Also do I need to update to the 1.4.34.3 version, didn't realize the update was out.  I get error messages because I believe the syntax isn't quite correct.

[2018-03-05 07:46] WagerrTor commented on #25
hello,

did you run it from command line/console? I asked you to start your wallet with resync switch. I also wrote commands to run. What I can see is that you did not follow steps I wrote. Am I wrong?

Once again, I can't help if you do not follow instructions. Can you do these steps please with daemon (wagerrd), that will ensure me that you did use commands which were told to be used and not ass

[2018-03-05 14:04] dreamwv02 commented on #25
was able to resetspentzerocoin, resync and remindzerocoin according to your instructions.  I do believe it corrected the problem.  Just took me a few tries to get it right.  Now my balances look correct.  Thank you for yalls help

[2018-03-05 20:59] WagerrTor commented on #25
This is very good news then ;), I am happy you were successful. Thanks for reporting that it worked.

I will close this this issue, feel free to reply here to reopen it.

[2018-03-05 20:59] #25 closed, assigned to zeroedge83, WagerrTor, Kokary, Cryptarchist

[2018-03-12 11:18] Kokary opened #34 "Staking wallets crash; debugging output shows Error:'Assertion failed: lock cs_main not held in wallet.cpp:4261; locks held:'"
# Issue: assert failed

Error:'Assertion failed: lock cs_main not held in wallet.cpp:4261; locks held:'

wallet.cpp:4261:
[code]

which is called from two places:

## 1: wallet.cpp: 4285
[code]

Here, the call is preceded with a check for the lock.

## 2: wallet.h:761

The definition of CMerkleTx:
[code]
Here, an assertion check is missing.
It is called from 8 places (related to qt transactions an

[2018-03-12 19:09] Kokary commented on #34
Issue is resolved by this commit, without measurable time spent locking/unlocking mutexes.

Remaining questions:
- Are there other relevant locks?
- Is the lock place or should it move higher/lower in the call stack?

[2018-03-16 09:48] McSlammin opened #35 "Wagerr Core will not Sync beyond Block 37318"
My Wagerr Core was running and updating Masternodes brilliantly until 2 days ago at approximately 15:41 UTC.  It just stopped syncing and will not move beyond Block 37318.  I was on version 1.4.34.2 and thought maybe an upgrade to 1.4.34.3 would fix the problem, however, it reloads at the same place and won't move forward.  I have checked the remote server for the masternodes and this appears to b

[2018-03-16 15:40] #35 closed, assigned to nobody

[2018-03-19 12:40] Cedericm opened #36 "Wagerr wallet.dat can't be unlocked while password is correct!"
Dear

I had an encrypted wallet.dat file which wouldn't let me unlock the wallet. However I was100% sure the password was correct.

I used a copy of my wallet.dat file and used brute force software the find out the password. If I enter my correct password in a dictionary file that the software uses it finds a match.

So I was certain I had somewhere the correctly encrypted private keys still in my

[2018-03-19 13:35] sunrisephp opened #37 "We lost 7266 WGR when wallet made two times zWGR!!!"
Dears,
We transfer 75000WGR into WVgr6Ga9kXr7TEPbsWrvmT2ifvjmedpnQq , I don't
disable *zWGR Automint setting. It made zWGR autominting after block Syn. We
close wallet and add add the following lines to wagerr.conf to disable
zerocoin minting and
1. restart the wallet.
zerocoin=0
enablezerocoin=0
We find our  7266 WGR  zwGR can't convert back into WGR!!!!
We got the following information:
Spend Ze

[2018-03-19 13:40] sunrisephp commented on #37
One more PIC.
![image](https://user-images.githubusercontent.com/37451107/37598773-14ac3086-2bbe-11e8-91c1-38b62ed94894.png)

[2018-03-26 03:49] #37 closed, assigned to nobody

[2018-03-31 00:36] Zkffkah commented on #6
Sorry for the delay confirmation, problem solved. Nice.

[2018-04-07 06:12] WagerrTor commented on #36
@Cedericm can you check if it is resolved with [version 1.5.0](https://github.com/wagerr/wagerr/releases/tag/1.5.0)

[2018-04-09 08:12] Cedericm commented on #36
Hi, I tested it with my old faulty wallet file. The new version still could not unlock it. @WagerrTor

[2018-06-06 02:50] sycamoreflux commented on #36
Hello how do you fix this? I'm also sure my passphrase is correct but I can't unlock the wallet.

[2018-06-06 13:08] Cedericm commented on #36
Please find me in the off. Wagerr Telegram group as CryptoPatrick. PM me

[2018-06-11 18:41] rge17 opened #42 "Corrupted block database detected"
While running
`/wagerr-1.5.0/bin # ./wagerrd &
Following error is coming;
_Wagerr server starting: Corrupted block database detected. Do you want to rebuild the block database now?_
If you enter yes, it is running continuously without any output. Kept the console as it is for 24 hours with no outcome.

### Expected behavior
Masternode set up failed

### Actual behavior
With wagerr-1.4.34.2 version

[2018-06-11 19:02] rge17 commented on #42
./wagerr-cli getinfo
error: {"code":-28,"message":"Loading block index..."}

Clicking OK in the console is showing OK> command not found

[2018-06-18 15:00] DanielMagro97 opened #43 "Wallet GUI does not scale correctly to various resolutions"
### Describe the issue
The GUI Wallet does not scale correctly on certain resolutions. On my VM Resolution of 1360x763

As you can see, in the send tab, there is plenty of space for the "Send" button, however it is just not displayed. I have also tried removing Coin Control features, however this doesn't show the "Send" button either.
![image](https://user-images.githubusercontent.com/14795178/415

[2018-06-29 11:18] Maxximus69 opened #44 "Setting up Wagerr remote Masternode"
Hi everyone,

I'm setting up my MasterNode on my VPS > https://wagerr.zendesk.com/hc/en-us/articles/360001067912-Wagerr-remote-Masternode-guide

But when I start the wagerr server on my remote server, there is some errors in the debug.log :
[code]

On my local wallet everything seems to be OK :
[code]

I have already check these points :
- network >> network interfaces | disable/enable my firewall

[2018-06-29 20:25] Maxximus69 commented on #44
So, someone help me on Wagerr telegram channel, here is the solution :
- IF
[code]

THEN USE

` ./wagerrd -resync`

RESYNC FIRST THEN WHEN

`./wagerr-cli mnsync status `

YOU HAVE TO CHECK TWO LINES

[code]

THEN

wagerrd stop
wagerrd &

THEN LAUNCH YOUR local wallet

[2018-06-29 20:25] #44 closed, assigned to nobody

[2018-07-10 00:30] zeroedge83 opened #45 "Warning - while compiling"
This issue tracker is only for technical issues related to Wagerr Core.
General Wagerr questions and/or support requests and are best directed to the [Wagerr Discord](https://discord.wagerr.com).

### Describe the issue
warnings while compilation

masternodeconfig.cpp:63:37: warning: unknown escape sequence: '\w'
                                     "#When using the multi masternode setup, it is a

[2018-08-04 20:22] Droopier opened #48 "Combined Masternode and Stake Reward"
This issue tracker is only for technical issues related to Wagerr Core.
General Wagerr questions and/or support requests and are best directed to the [Wagerr Discord](https://discord.wagerr.com).

### Describe the issue
- Wallet presents a MN reward and stake reward as combined reward (3.79998520) and credited to the staking wallet.

### Can you reliably reproduce the issue?
- No
#### If so, pleas

[2018-08-15 11:41] WagerrTor commented on #45
this is resolved in last versions, I will close it, reopen it if not

[2018-08-15 11:41] #45 closed, assigned to WagerrTor, Kokary, Cryptarchist

[2018-08-15 12:00] WagerrTor commented on #42
In general, for most coins, if you kill your wallet, then your database mostly becomes corrupted. You should always switch your wallets off with `wagerr-cli stop` and wait until it is closed by checking if process is still running, for example this command to view all processes: `ps axfo pid,euser,egroup,args`. If wagerr-cli stop is not working, then you have to kill your wallet and resync/reindex

[2018-08-15 12:01] #42 closed, assigned to WagerrTor, Kokary, Cryptarchist

[2018-08-15 12:05] WagerrTor commented on #43
Here you have to small resolution, when I run it on some devices connected to old TV which has smaller height than 1080.

If you double click on title bar, you will get out/into fullscreen mode and when you enter fullscreen, your buttons become visible.

[2018-08-15 12:15] WagerrTor commented on #34
Does this issue still persist or can we close @Kokary ?

[2018-08-15 12:16] WagerrTor commented on #21
I assume this is resolved and will close it, feel free to reopen if issue persists

[2018-08-15 12:16] #21 closed, assigned to zeroedge83, Kokary, Cryptarchist

[2018-08-15 12:24] #22 closed, assigned to zeroedge83, WagerrTor, Kokary, Cryptarchist

[2018-08-15 12:34] #34 closed, assigned to zeroedge83, WagerrTor, Kokary, Cryptarchist

[2018-08-15 12:43] WagerrTor commented on #36
We will write according recovery guides but we have to take care what we write. There are several tools and ways how you can crack a password, according to the screenshot Cedericm used [Bitcoin password recovery tool](https://www.thegrideon.com/bitcoin-password-recovery.html) which is one of many ways to resolve the issue if you lost your pass (I did not test this tool) but its always better to us

[2018-08-15 12:43] #36 closed, assigned to zeroedge83, Cryptarchist

[2018-08-15 12:44] #43 closed, assigned to zeroedge83, Cryptarchist

[2018-08-15 12:45] WagerrTor commented on #43
I closed it, feel free to reopen if you still cant see buttons

[2018-08-15 13:52] WagerrTor opened #54 "BIP44 registration"
It is time to choose values for wagerr, it is not a must, but is becoming a standard to separate projects: https://github.com/satoshilabs/slips/blob/master/slip-0044.md

Pull request: https://github.com/satoshilabs/slips/pull/343

[2018-08-15 13:53] #54 closed, assigned to zeroedge83, WagerrTor, Kokary, Cryptarchist

[2018-08-15 14:35] WagerrTor opened #55 "Validate bet payouts to ensure reward wont pay to much is not working properly"
### Description
Validate bet payouts nExpectedMint against the block pindex->nMint to ensure reward wont pay to much is not working properly.

### How to reproduce the issue
1. Change source code back to previous values
2. Start testnet
3. You will stuck on block 21012

#### In detail:
1. Revert https://github.com/wagerr/wagerr/blob/9c40777c6392a15d1ea1139012617c66c7ad1f7c/src/main.cpp#L2995-L3004

[2018-08-15 16:21] WagerrTor commented on #55
resolved with https://github.com/wagerr/wagerr/commit/76295b06bde8113a78d8590f8272090d78057ee7

[2018-08-15 16:21] #55 closed, assigned to zeroedge83, WagerrTor, Kokary, Cryptarchist

[2018-08-17 11:52] zeroedge83 commented on #48
Doesnt look like a issue, just a very lucky occurence of getting both rewards.

[2018-09-13 07:57] Jacks2High opened #59 "No block index available - Having to reindex every time I load wallet."
Ok so every time I load up the wallet 2.0 I get a no block index available in the bottom left of the screen. The wallet then wont sink. The only solution to this is to rebuild the block index from zero and then its fine until I turn off the wallet and close down my PC.

All my coins are find and I am still receiving masternode rewards. Unfortunately this has been happening since the 1.5 release. I

[2018-09-13 14:32] Nynti opened #60 "Possibly combined masternode ? /Locked WGR"
**Describe the issue**
Hello , I have just updated my Wallet to 2.0 and it presents 50.000 WGR locked .
And my balance is negative and the total is the exact correct number that I own.
Is this a normal occurrence?

**Expected behavior**
I would have excepted 25.000 WGR (same as my total ) but 50.000 seems too much.

**Screenshots**
![wagger](https://user-images.githubusercontent.com/35430989/45494

[2018-09-14 05:55] RobertV49 opened #61 "Fatal Error Message"
About 2 weeks ago my wagerr core wallet shutdown on me. I tried to reopen it and I'm getting a "fatal error message." I have no idea what the issue is or how to fix it. I've updated to the 2.0 wallet, but not luck fixing the issue. Anyone out there can help me? Thanks.
![wagerr](https://user-images.githubusercontent.com/43261779/45532145-8d763580-b7b8-11e8-81d2-b42613bdd22d.png)

[2018-09-14 07:44] CaptainSkywave opened #62 "GUI wallet design request."
GUI wallet.
When on Masternodes tab - selecting (clicking on) a MN, highlights the line with red colour fill.
If I click somewhere outside the MN list (inside the wallet) - the highlighted red is still present.
One can click another node, but then again, that line will remain highlighted.
Same happening on the Transactions tab.

I find this somewhat annoying and would like to be able to see a clea

[2018-09-17 13:06] ag100 opened #63 "Possible Security Issue"
I originally opened this issue with Google Docs during the testnet phase, but the bug is still present in production so I'm opening this here at the request of Wagerr email support.  I have only tested on High Sierra, Android and Linux, but this issue is confirmed on all.

Please let me know if you would like details posted below, or if not, how you would prefer to receive them.

[2018-09-19 05:45] trappist commented on #48
Check the transaction details in block explorer or debug console. Most likely these were two outputs on the same transaction, not two transactions presented as one.

[2018-09-19 12:06] Kokary commented on #63
Could you please hit me up on Discord?
Kokary#8814
Thank you!

[2018-09-19 23:34] ag100 commented on #63
Ack - Will find you tomorrow.  Thanks.

[2018-09-21 01:08] ag100 commented on #63
FYI - Sent details to support per their request.

[2018-09-23 18:02] Kokary commented on #63
Thanks!

[2018-09-23 18:02] #63 closed, assigned to nobody

[2018-09-23 18:06] Kokary commented on #60
Thanks for your report, it's also much appreciated that you filled out the issue template.

The fix (https://github.com/wagerr/wagerr/pull/64/commits/affd03910d115b8f201180ab353ceb0c126b573a) will be merged to master soon, and will be included in next update.

[2018-09-23 18:06] #60 closed, assigned to nobody

[2018-09-24 01:30] Cryptarchist commented on #61
@RobertV49 could you please try a `resync` using a v2.0.0 wallet.

If that doesn't solve the problem, if you can find the applicable line/s in your `debug.log` when it crashes it will help us debug the issue.

[2018-09-26 23:13] sigwo opened #76 "Says 'Bet Placed' in notification popup, even when a regular send transaction happens"
Linux GUI Wagerr Core version v2.0.0-Monte Carlo (64-bit) https://github.com/wagerr/wagerr/blob/0280c6642176f1401f08905fe0e06c969a979cb7/src/qt/bitcoingui.cpp#L1160

[2018-10-01 13:02] Kokary commented on #76
Thanks @sigwo!
Looks like simply wrong ordering, will fix it.

[2018-10-01 23:59] Cryptarchist commented on #76
Closed by 7b3ced1d7a878152b14ac25206b8f72dcd30326e.

[2018-10-01 23:59] #76 closed, assigned to Kokary

[2018-10-02 10:17] kiahmed opened #88 "blockchain sync fails"
no matter how I configure blockchain syncing failing either at block 1000 or 1650 . I tried all different ways deleting whole data dir, reindexing, resyncing , downloaded the new release last night but still now luck stops with the following error. I have other older nodes running fine. Any idea whats up?
**RecalculateZWGRSpent : block 1000...
wagerrd: main.cpp:2582: bool RecalculateWGRSupply(int)

[2018-10-06 23:34] winzig opened #90 ""High Sierra plus" build does not work on High Sierra"
The Monte Carlo 2.0.1 release for "high-sierra-plus" does not load on High Sierra:

<img width="423" alt="screen shot 2018-10-06 at 4 33 52 pm" src="https://user-images.githubusercontent.com/127062/46576707-a15f2280-c985-11e8-9ef7-bc0d7104f384.png">

[2018-10-08 17:40] Bayalu commented on #90
I have encountered this problem too. Until they fix this bug you can open the wallet using terminal.
Applicationa
wagerr core- show package contents
contents
mac os
wagerr qt- open with terminal

[2018-11-07 16:18] gulfcoastdev commented on #90
Doesn't work for me.

[2018-11-07 16:48] Bayalu commented on #90
You have to open Wagerr-Qt with terminal.
Right click on Wagerr-Qt.app/Contents/MacOS/Wagerr-Qt
Open with Terminal. Once it runs with Terminal you won't have to do it again and you'll be able to run it from Wagerr's shortcut on desktop.
It does work.

[2018-11-07 16:53] gulfcoastdev commented on #90
No. It does not. I just pasted you terminal log with segmentation fault: 11 error that I am getting when I do it.

[2018-11-07 16:55] Bayalu commented on #90
Did you run QT with Terminal?

[2018-11-07 16:56] gulfcoastdev commented on #90
yeah

[2018-11-07 16:58] Bayalu commented on #90
Reinstall QT and make sure you install the QT version that corresponds to your specific OS version. First time run it with Terminal then it will work fine.

[2018-11-07 17:07] gulfcoastdev commented on #90
I did but it still doesn't work.
I use
https://github.com/wagerr/wagerr/releases/download/v2.0.1/wagerr-2.0.1-osx.dmg
on
Mac High Sierra.
Is it correct release?

[2018-11-07 17:26] Bayalu commented on #90
There are issue with the version you are trying to download.
Use his one wagerr-2.0.1-osx-*.dmg or wagerr-2.0.1-osx-mojave.dmg

[2018-11-07 18:27] gulfcoastdev commented on #90
Hmm perhaps I am missing something but I can't find under list of releases....

[2018-11-07 18:28] gulfcoastdev commented on #90
https://github.com/wagerr/wagerr/releases

[2018-11-07 21:16] Bayalu commented on #90
Try to install Mojave release even if you have High Sierra.
https://github.com/wagerr/wagerr/releases/download/v2.0.1/wagerr-2.0.1-osx-mojave.dmg
Run it with terminal on mac (show package contents). Let me know if it works for you.

[2018-11-07 21:56] gulfcoastdev commented on #90
Mojave worked! Thanks for help.

[2018-11-07 22:06] Bayalu commented on #90
Np

[2018-12-04 19:07] McLumnpy commented on #90
I tried to install this version on High sierra with Norton anti virus installed and was unable to run it as NAV found a file contained a virus: OSX.Trojan.Gen it deleted a file in the following path:-
Applications/Wagerr-Qt.app/Contents/MacOS/Wagerr-Qt. I've tried back to 1.5 and all have the same issue. Think I'll leave my wgr on waves until this is resolved.

[2018-12-20 00:31] WagerrTor commented on #90
@McLumnpy
We will publish with each release virustotal link and if there are any issues with any of antivirus software versions, you will be able to see it before running. Please follow the guides of your antivirus software how to whitelist this application and send report requests (if available) to your antivirus company/provider.

@winzig we updated macos part and further builds will require min

[2018-12-20 00:33] WagerrTor commented on #88
@kiahmed
thanks for supplying the issue, Is this still happening or is it resolved?

[2018-12-20 00:45] WagerrTor commented on #62
@CaptainSkywave
do you mean something like adding mouse event tracking when your mouse is out of the frame that red is greyed out or not marked at all?

And do you mean that when you move your mouse back into the table, that it follows your mouse by highlighting the row over which the mouse goes?

Currently it is singleselection, but we could make it ability for multiselection.

[2018-12-20 00:53] WagerrTor commented on #61
not relevant anymore, v2.0.1 is released long time ago, I will close this one, feel free to open if issue is unresolved with v2.0.1

[2018-12-20 00:53] #61 closed, assigned to nobody

[2018-12-20 00:57] WagerrTor commented on #59
Thanks for supplying the issue, this is very old, I will close this one as it is not relevant anymore due to available newer version v2.0.1, feel free to reopen this issue if it is not gone with v2.0.1

[2018-12-20 00:57] #59 closed, assigned to WagerrTor, Kokary

[2018-12-20 00:57] WagerrTor commented on #48
Is this still open?

[2018-12-20 08:34] CaptainSkywave commented on #62
When I have selected (leftclicked) on a node or a transaction, then the line stays highlighted (filled in red) and when clicking somewhere else in a white/empty area I would expect the red fill of that line should go away, but it doesn't - the red fill stays there.
I can select/click another line - then that line is filled with red - and the red fill goes away from the previous selected line.
I ju

[2018-12-20 16:32] WagerrTor commented on #48
Please check if the issue is resolved with newer version as we have few since v1.5. I will close this issue, please feel free to reopen if you think that ther is still some issue.

[2018-12-20 16:32] #48 closed, assigned to WagerrTor, Kokary, Cryptarchist

[2018-12-24 10:18] Kokary commented on #62
The way to deselect a line is to ctrl+click that line. I don't see a big advantage to changing that.

[2018-12-24 15:19] CaptainSkywave commented on #62
..oh, that one I was not aware of. Thank you, that works.

[2018-12-24 15:19] #62 closed, assigned to zeroedge83, WagerrTor, Kokary

[2019-01-07 10:02] hopium101 opened #103 "Can't covert Zwgr to WGR"
Wallet Version 2.0.1 Monte Carlo
UBUNTU 16.04 LTS
Memory 5.6 gb
Intel Core i7 CPU M 620 2.67 ghz
OS type 64-bit
Disk 241gb

Problem:
No matter how i try changing security level and amounts i always get this error: Try to spend with a higher security level to include more coins

Trying to send zwgr to wgr address (security level default=42). Error:

Version 1 zwgr require a security level of 100 to

[2019-01-30 06:23] tubbynl opened #109 "2.0.2 version does not have a -mojave version"
Wagerr Core 2.0.2 (Monte Carlo) does not have a mojave version

### Describe the issue
The release says

### What behavior did you expect?
wagerr-2.0.2-osx-mojave.dmg to be available as described in the version

### What was the actual behavior (provide screenshots if the issue is GUI-related)?
not downloadable

### How reliably can you reproduce the issue, what are the steps to do so?
https://git

[2019-02-02 02:47] kjahns opened #110 ""Bet" tab makes wallet not respond, spins for 10-15 minutes.."
Clicking on the "Bet" tab makes the wallet not respond, takes 10-15 minutes to load betting options..

Not sure if this is the right place to bring up this issue or not, sorry if not..

I cant be the only one with this issue, still love the wallet and use it all the time, just irritating having to wait for betting options to load, any help is appreciated, thanks!

[2019-02-02 02:50] kjahns commented on #110
I thought updating to 2.0.2 would resolve the issue..

It did not, still getting the same results.

Windows x64 on Windows 10 machine

[2019-02-10 02:15] AtomiclyCursed opened #111 "[Wagerr Core 2.0.2][Multi Monitor] Main window is not displayed"
When clicking Show/Hide from the tray i expected the main window to appear.

No window is shown just the icon appears on the task bar.

100% reproduction, I have been able to do it for a few versions (months) now, was hoping it would be fixed by now but this doesn't appear to have been the case.

Many version latest i have is 2.0.2 64-bit got it from this github page.

Windows 10, i7 3.4Ghz/ 32Gb

[2019-02-19 22:39] lugeflu opened #118 "Balance Trouble in wagerr wallet - Zwgr to WRG conversion failed"
This issue tracker is only for technical issues related to Wagerr Core.

General Wagerr questions and/or support requests are best directed to the Wagerr Discord at https://discord.wagerr.com.

I have deposit 11300 Wgr to my WGR wallet and my balance it´s not showing right, and need to disable zwgr to have my complete balance... i have tried the telegram channel...
 i wish to have my original bala

[2019-02-22 12:18] Cryptarchist commented on #109
@tubbynl apologies for the lack of response, this has been resolved.

[2019-02-22 12:18] #109 closed, assigned to nobody

[2019-02-22 12:27] Cryptarchist commented on #110
@kjahns thanks for raising this issue. We are aware of it and although `v2.0.2` does improve on performance it is not in such a large way that it can always be noticed.

10-15 minutes is a lot longer than I have experienced, but I get the point!

In our upcoming `v2.1.0` release we no longer scan the chain for betting events each time you select the Betting tab and instead cache/store this data lo

[2019-02-25 10:30] kyoungrok0517 opened #119 "Exception: St13runtime_error, ListMintedCoins: cannot create DB cursor"
I see the following error if I swap the wallet.dat to mine after clean install.

![image](https://user-images.githubusercontent.com/1051900/53330937-18945380-3933-11e9-88cf-f4a64607fdbf.png)

GUI window running properly.

![image](https://user-images.githubusercontent.com/1051900/53330957-221dbb80-3933-11e9-8d59-192219f8adb6.png)

Swap the wallet.dat with my one, which was running properly so far.

[2019-02-26 09:20] DingGeng-GitHub commented on #34
错误：

2019-02-26T08:18:21Z POTENTIAL DEADLOCK DETECTED
2019-02-26T08:18:21Z Previous lock order was:
2019-02-26T08:18:21Z cs_main net_processing.cpp:2462
2019-02-26T08:18:21Z (1) pool.cs validation.cpp:398
2019-02-26T08:18:21Z cs_main wallet/wallet.cpp:1279
2019-02-26T08:18:21Z (2) cs_wallet wallet/wallet.cpp:1279
2019-02-26T08:18:21Z Current lock order is:
2019-02-26T08:18:21Z cs_main wallet/walle

[2019-03-06 00:03] zeroedge83 commented on #103
Hello,

Please refer to the solution here https://github.com/wagerr/wagerr/issues/25 , ensure auto-convert is switched off via options. If you have further issues contact support@wagerr.com

[2019-03-06 00:03] #103 closed, assigned to nobody

[2019-03-06 00:03] zeroedge83 commented on #118
Hello,

Please refer to the solution here https://github.com/wagerr/wagerr/issues/25 , ensure auto-convert is switched off via options. If you have further issues contact support@wagerr.com

[2019-03-06 00:03] #118 closed, assigned to nobody

[2019-03-06 03:40] lugeflu commented on #118
i didn´t understand
 this method

El mar., 5 mar. 2019 a las 21:03, David Mah (<notifications@github.com>)
escribió:

--
Ing. Luis Gerardo Flores

[2019-03-13 10:36] Cryptarchist commented on #119
@kyoungrok0517 it looks like your `wallet.dat` might be corrupted in some way.

Could try to first backup your `wallet.dat` and then start the client with `-salvagewallet`.

[2019-03-13 12:55] #119 closed, assigned to nobody

[2019-03-15 16:57] ilya112358 opened #120 "Lost connectivity / Synchronization glitch"
Hi! I noticed that my wallet could not establish connections to the network. Occasionally it was getting 1 peer for a split second and then 0 again. I looked into it and found out that all connections were immediately **banned** after discovering. Thus I lost connectivity to the network and my local copy of blockchain stopped being synched.

I digged into the log and found relevant section. Everyt

[2019-03-18 23:10] ghost commented on #120
I encountered the same issue while running 2.02 for Windows 32-bit, hung up on block 556816 due to blocked peers. Help?

[2019-03-20 13:22] kiahmed opened #122 "remote masternode wont stat not capable: Could not connect to"
not new to this, have one mn running on earlier version from early 2018. tried to fire up a new one with 2.0.2 but it won't just start. MN is running on aws instance and port 55002 is open and listening, can telnet to the port both from outside and also from inside. Here is the out put get on mn

CActiveMasternode::ManageStatus() - Checking inbound connection to 'xxxxxx:55002'
CActiveMasternode::M

[2019-03-21 17:13] kiahmed commented on #122
resolved it, looks like specifically saying external ip didn't work rather it would auto pick from -listen that works ...hmm weird

[2019-03-21 17:13] #122 closed, assigned to nobody

[2019-03-23 06:11] WagerrTor commented on #120
thanks @ilya112358 for supplying the issue and @evongutt for confirming the same. We are about to release big update and as soon as rc is available, please retest if you can if this glitch still persists.

EDIT: try current master/v3.0.0rc3

[2019-03-23 06:30] WagerrTor commented on #111
this problem can occure if there are problems with resolution, as example if application minimum resolution is larger than display resolution. Can you reproduce it with 1080P (1920x1080)?

[2019-03-23 06:32] #88 closed, assigned to WagerrTor, Kokary

[2019-03-29 23:16] AtomiclyCursed commented on #111
I have just tried forcing my monitors to 1920x1080 then closing and reopening wagerr and still have the same issue

[2019-04-10 15:56] 6mula6 opened #123 "SE PERDIERON 500 WGR DE MI WALLET"
SE PERDIERON 500 WGR DE MI WALLET
AL SINCRONIZAR MI WALLET WAGERR CORE V 2.0.2 MONTE CARLO, DEL TOTAL SE ME RESTARON 500 WGR
MI WALLET LA TENGO INSTALADA EN W10, YA HE REINICIADO MI WALLET Y SIGO SIN PODER RECUPERAR MIS UNIDADES.
![1](https://user-images.githubusercontent.com/48301839/55894140-6f19c200-5b6e-11e9-8afc-2c729241bd32.jpg)
![2](https://user-images.githubusercontent.com/48301839/5589415

[2019-04-17 23:38] krumblez commented on #123
Translation:

500 WGR OF MY WALLET WAS LOST TO SYNCHRONIZE MY WALLET WAGERR CORE V 2.0.2 MONTE CARLO, THE TOTAL WAS REMAINED 500 WGR MY WALLET -  I HAVE INSTALLED IT IN W10, I HAVE ALREADY RESTORED MY WALLET AND I CAN NOT RECOVER MY UNITS.

[2019-04-17 23:45] krumblez commented on #123
¿Se almacenó el WGR 'perdido' en Zerocoin?

Por favor, copie la ID de transacción de nuevo aquí en texto plano.

Was the 'lost' WGR stored in Zerocoin?

Please copy the Transaction ID back here in plain text.

![image](https://user-images.githubusercontent.com/11175971/56327556-be658100-6172-11e9-92b9-3b3ab2fdedcb.png)

[2019-04-17 23:59] krumblez commented on #120
**BACKUP YOUR WALLET.DAT/PRIVATE KEYS BEFORE PROCEEDING:**

The fix is to resync the wallet from the Tools > Wallet repair page:

![image](https://user-images.githubusercontent.com/11175971/56328050-143b2880-6175-11e9-9262-86dafe43c9ec.png)

_As soon as it is fully synced,_ open the command console:

Enter your passphrase to unlock the wallet:

`walletpassphrase YourWalletPass 600`

do:

`clearban

[2019-04-18 16:39] ninware opened #125 "recover wif key from unencrypted corrupted wallet.dat"
After a system crash and reinstall of Windows 10 I recovered my wallet.dat with a recovery tool.
Wagerr Core will not open the file, cause the wallet.dat seems corrupted.
Wagerr Core says: wallet.dat corrupted, salvage failed.

I made a backup and tried to open it on my Mac and on my Windows 10 PC. Both does not work.
wallet.dat has I file size of 696KB on Windows and 713KB on Mac. I opened it in

[2019-04-24 19:48] ninware commented on #125
I updated my script. Now it loops over all files in a folder. I let it run over all my wallet backups I found
My script now imports the key automatically into the Wagerr Client over the CLI. It automatically checks the balance and if the addresses are valid. Everything seems good. But now I have imported over 1000 Keys in my Wagerr Client. I did a rescan after this but I still have a Zero Balance.

[2019-05-04 16:09] ckti opened #126 "Get regtest scripts working"
Regtest scripts need to be updated to work with wagerr
Here is a list of what is working and what is not

- [ ] feature_block.py Line 76 raise AssertionError("Test failed at test %d" % test_number)
- [ ] feature_cltv.py Line 100 solve block
- [ ] feature_config_args.py Line 38 self.start_node(0, ['-conf='+conf_file, '-wallet=w1'])
- [ ] feature_fee_estimation.py Line 244 175 60 test_framework.auth

[2019-05-07 15:45] ckti commented on #126
TEST                            | STATUS    | DURATION

feature_help.py                 | ✓ Passed  | 30 s
feature_minchainwork.py         | ✓ Passed  | 116 s
feature_notifications.py        | ✓ Passed  | 132 s
feature_proxy.py                | ✓ Passed  | 148 s
feature_reindex.py              | ✓ Passed  | 110 s
interface_bitcoin_cli.py        | ✓ Passed  | 80 s
interface_http.py               |

[2019-05-08 12:43] ckti opened #127 "Get make check working"
Make Check fails in test/util/bitcoin-util-test.py with:
- [x] Output formatting mismatch for tt-delin1-out.json (wrong pubkeys)
- [x] Output formatting mismatch for tt-locktime317000-out.json (wrong pubkeys)
- [x] Output formatting mismatch for txcreate1.hex (wrong result)
- [x] Output formatting mismatch for txcreatesign.hex (wrong result)

[2019-05-09 09:28] ckti commented on #127
All working now, PR put in to WagerrTor https://github.com/WagerrTor/wagerr/pull/4

[2019-05-09 13:18] ckti opened #128 "Need a working regtest Oracle to test betting code"
To create test betting scripts we need some sort of an Oracle Node to create events that can create events to bet with.

[2019-05-11 10:00] ckti opened #129 "Use Snap rather than PPA for WagerrOS"
Need final version before these can be completed.

- [x] Raspberry PI
  - [x] update OS and packages
  - [x] install snap
  - [x] install wagerr
- [x] Rock Pi4 (arm/aarch64)
  - [x] update OS and packages
  - [x] install snap
  - [x] install wagerr
- [x] ISO i386
  - [x] update OS and packages
  - [x] install snap
  - [x] install wagerr
- [x] ISO x86-64
  - [x] update OS and packages
  - [x] insta

[2019-05-14 11:53] ckti opened #130 "Write script to test all cli commands"
Working scripts/rpc commands in this spreadsheet
[wagerr-regtest.xlsx](https://github.com/wagerr/wagerr/files/6089993/wagerr-regtest.xlsx)

[2019-05-14 12:43] #127 closed, assigned to ckti, WagerrTor, Kokary

[2019-05-14 20:07] ninware commented on #125
After realising getting compressed keys, I updated the script to output uncompressed keys.
I created a new wallet, saved the wallet.dat and exported the private key. Then I send new value to the public address. I let my script run through the wallet.dat where I know my private key. Everything works fine. I was able to recover my key. So I think my corrupted wallet.dat may really corrupt. Otherwise

[2019-06-03 13:26] ckti opened #131 "Need to get regtest chain working for current code base."
Regtest chain ssegfaults at block 251 on current master.  Need to have this chain working to test cli commands properly.

All you need to reproduce the error is start wagerr in regtest mode and do a generate 251 in the debug console or with wagerr-cli,

CLI Error is:
Segmentation fault (core dumped) ~/ckti.wagerr/ckti-master-wagerr/src/qt/wagerr-qt -regtest -debug

Debug log shows

2019-06-04 11:2

[2019-06-04 11:43] Kokary commented on #131
Failed to detect masternode to pay => This is a warning, not an error, and seems to be unrelated.
I'll try to catch the segfault in the debugger.

[2019-06-19 14:34] WagerrTor commented on #131
this issue is resolved in https://github.com/wagerr/wagerr/pull/138 , closing

[2019-06-19 14:34] #131 closed, assigned to ckti, WagerrTor, Kokary

[2019-06-19 14:36] WagerrTor commented on #130
if you have troubles with any of those unchecked, comment here

[2019-06-19 14:37] WagerrTor commented on #129
updated main list, added rockpi4

[2019-06-19 14:38] WagerrTor commented on #128
resolved in https://github.com/wagerr/wagerr/pull/138 , closing

[2019-06-19 14:38] #128 closed, assigned to ckti, WagerrTor, Kokary

[2019-06-19 14:40] WagerrTor commented on #125
which wallet version did you use?

[2019-06-19 14:41] WagerrTor commented on #125
It is good to have a script, when finished I might want to merge it to devtools, I did not run it for now but will test it when I get time

[2019-06-19 14:46] WagerrTor commented on #125
to get all your keys in readable format, use rather `dumpwallet "filename"` instead of wallet.dat, I know in your case you have to deal with wallet.dat, but if you want to loop up how it looks, export your wallet.

There is backups folder, where on each restart your wallet.dat is saved, if you try those wallet.dat's, they maybe are not corrupted and you could export your key/all keys.

As if you h

[2019-06-19 14:52] WagerrTor commented on #123
@6mula6
![image](https://user-images.githubusercontent.com/35894915/59776354-f2fcd280-92b2-11e9-8d26-d352b826b5ea.png)

¿Intentaste volver a sincronizar `wagerr.exe -resync`?
![image](https://user-images.githubusercontent.com/35894915/59776324-e7a9a700-92b2-11e9-8a2d-30ce21444a74.png)

[2019-06-19 15:06] WagerrTor commented on #120
@ilya112358 is your issue resolved? I assume it is and will close this issue, please reopen it if it is not. If the issue persist, please reply here and issue will be reopened

[2019-06-19 15:06] #120 closed, assigned to WagerrTor, Kokary

[2019-06-19 15:09] WagerrTor commented on #111
@agalpin can you try current master/v3.0.0rc3?

[2019-06-19 15:10] WagerrTor commented on #110
this issue is closed as we have no bet tab anymore in v3, please open new request issue if you still would like to have bet tab.

[2019-06-19 15:10] #110 closed, assigned to nobody

[2019-06-20 07:46] ckti commented on #130
WIll do

[2019-06-23 05:34] AtomiclyCursed commented on #111
Installing this didn't seem to fix it, but i noticed and tried clicking "Reset Options" in "settings" and after restarting it's working again so maybe it was bad app settings? Anyway thanks it's working again.

[2019-06-23 05:34] #111 closed, assigned to nobody

[2019-07-02 17:40] ckti commented on #126
TEST                            | STATUS    | DURATION
feature_help.py                 | ✓ Passed  | 30 s
feature_notifications.py        | ✓ Passed  | 128 s
feature_reindex.py              | ✓ Passed  | 110 s
interface_bitcoin_cli.py        | ✓ Passed  | 80 s
interface_http.py               | ✓ Passed  | 105 s
interface_rest.py               | ✓ Passed  | 155 s
mining_prioritisetransaction.py | ✓

[2019-07-16 00:57] axorth opened #146 "Windows scaling not respected by wallet"
I purchased a new 13" laptop that has a 4K monitor. I have Windows set to use 250% scaling. The text in the core wallet is so tiny that I can barely read it.

The core wallet should respect my Windows scaling selection in and scale all fonts to the appropriate size.

Requires a high resolution monitor. But set the Windows scaling options to 250% and you will see that the fonts don't scale.

3.0.0

[2019-07-16 14:45] wagerrdeveloper commented on #146
Hi Axorth
One quick thing you can do is create a file called qt.conf in the directory where wagerr-qt resides
In It you can add the following line(s)

[code]

Save and reopen your wallet. It should scale a bit better.

[2019-07-19 18:57] wagerrdeveloper opened #151 "Windows 10 Tray Icon"
**Windows Tray Icon missing when minimzed to tray**
To Reproduce:
Enable Tray by minimizing.
Minimize client.

Look in tray
WagerrQT is closed however icon is blank

![image](https://user-images.githubusercontent.com/47796377/61558586-1d19ef80-aa2d-11e9-9fd8-80c0ed6fb2fd.png)

Expected behavior:  Wagerr ICON is displayed.

[2019-07-20 07:35] vincent7q opened #152 "how check status of masternode"
the commend > ./wagerr-cli masternode status missing in version 3. May I know how to check the status of masternode on server side?

[2019-07-20 09:03] johan-hage commented on #152
You can use `wagerr-cli getmasternodestatus`

[2019-07-20 09:09] vincent7q commented on #152
Great! It works. Thanks

[2019-07-20 09:10] #152 closed, assigned to nobody

[2019-08-06 05:41] Bigrah2 opened #161 "Still high CPU usage"
Hi,

CPU usage is still on 25% for wagerrd running with electron wallet. I did allready update to 3.0.1 and its also showing 3.0.1 on electron Info site. I run a 4+4 Core i7 with 16GB of Ram with Win10 x64 and an NVMe SSD.

The responses from the electron wallet are really slow... like 1min for placing a bet or 20s for unlocking the wallet. dont know if its related or generally that slow..

heres

[2019-08-06 08:39] Bigrah2 commented on #161
Did some testing:
The CPU is fine at start.. (Also the Electron Wallet responses very fast)
But as soon as i go on the Chaingames Tab (Lotto) the CPU goes to 25% and stays there. Changing Tab does not make it better. Only Closing and new start solves the problem. (happens with locked and unlocked wallet)

[2019-08-08 14:06] ckti opened #163 "Snap not building (qt wagerr)"
Snap is not building standard wagerr qt binaries

[2019-08-08 14:09] ckti commented on #163
- [x] get wagerr binaries building with snap
- [ ] copy up to snapcraft

[2019-08-08 17:55] ckti opened #164 "Snap not building (electron wallet)"
snap not building electron wallet

[2019-08-08 17:56] ckti commented on #164
- [ ] get electron wallet working (in progress)

[2019-08-08 19:33] MDThoth opened #165 "error starting wallet database environment"
Does anyone know how I can open my wallet when this error appears?

error starting wallet database environment

![image](https://user-images.githubusercontent.com/36652716/62732132-077b6280-b9fa-11e9-9c39-4cf55dfc297a.png)

[2019-08-11 09:04] ckti commented on #163
PR #167

[2019-08-11 09:04] #163 closed, assigned to ckti, WagerrTor, Kokary, Cryptarchist, wagerrdeveloper

[2019-10-01 10:04] ckti commented on #130
Unable to continue until change in codebase as i'm getting "Unable to find in unordered map" error now

[2019-10-08 18:20] ckti opened #177 "Snaps building with gcc7 rather than gcc8"
Looking at the snap builds have found that even though the snaps are installing gcc8 in the vms they are still building using gcc7

[2019-11-08 17:39] ckti commented on #164
Now have it working for x86_64, i386, arm32 and arm64
Need to get it working for s390x and ppc64el will open a separate issue for this

[2019-11-11 15:03] ckti opened #187 "Get gitian builds working for s390x and ppc64le"
To enable wagerr snaps for s390x and ppc64le the gitian-builder needs to build for those architectures.
gcc falls back to gcc x86_64 rather than the specified s390x and ppc64le architectures

[2019-11-11 15:05] ckti commented on #177
No longer an issue in snap as it is taking the release binaries now and sha256summing them

[2019-11-11 15:05] #177 closed, assigned to ckti

[2019-11-11 15:06] ckti commented on #164
Have patched out the auto update script as wagerr.electron runs as read-only and cannot update itself

[2019-12-08 11:12] ckti commented on #187
Closed by PR 191

[2019-12-08 11:12] #187 closed, assigned to ckti

[2019-12-08 11:15] ckti commented on #164
- Electron wallet not rendering HTML in snap with compiled wagerr binaries
- have run strace on internally compiled and release binary electron wallet
- currently looking for differences between the two straces

[2019-12-11 02:15] hesaurey opened #193 "Launch Error 3.1.0"
Error launching - message posted below.
Used Curl NOT direct download. Catalina.

Launch App

A fatal error occurred. Wagerr can no longer continue safely and will quit.

EXCEPTION: N5boost12interprocess22interprocess_exceptionE
Operation not permitted
wagerr in Runaway exception

Every time I launch

3.1.0 from here (Github)

MacBook Pro (15-inch, 2017) MacOS 10.15.2 (19C57)

n/a

[2019-12-30 07:31] ruanqunfeng opened #196 "Please send me some coins for testnet!!!"
This is my address : TCRvAm6Jk6zZfbwHHiFDhmhJGkvH1XPGJb

[2020-01-01 20:09] nazbrok commented on #193
I also experiment the same issue under MacOS Mojave since I upgraded to 3.1 (I also used CURL).
Below the Logs (i appears the ConnectBlock function failed)

Also note I downloaded the wallet from the main site and it also hangs on the "connecting to peers ..." and does nothing for hours.

[code]
here are the logs.

[2020-01-03 04:22] AtomSmasher00 commented on #193
A launch error can mean there are some corrupted data files. Try to delete all files except for backups, wallet.dat, wagerr.conf, and masternode.conf.

You can find the data folder by launching Finder and choose Go menu, To Folder, and enter:
`~/Library/Application Support/WAGERR`

[2020-01-13 15:30] ckti opened #197 "Snap does not work on Raspbian"
While building snaps and automating install from new, have found that the current snap does not run on Raspbian 10 buster.
This may be down to configure flags in snapcraft.yaml...have editied it to use gitian-build configure flags and am building and testing on snapcraft store

[2020-01-14 15:23] ckti commented on #197
This works with the gitian-build configure flags set in the snapcraft file....

[2020-01-14 19:43] f-CJ opened #198 "getwalletinfo not returning correct information after unlocking wallet just for staking and locking back again"
Explanation
When I unlock the wallet just for staking and then lock back again the wallet, getwalletinfo command returns  "encryption_status": "unlocked_for_anonimization_only", when it should be "locked"

Steps to reproduce the bug in an encrypted wallet with wagerr-cli:
- Unlock wallet just for staking (walletpassphrase .... 0 true)
- Lock wallet (walletlock)
- Execute command getwalletinfo
Chec

[2020-01-16 11:23] ckti opened #199 "Changing odds in feature_betting.py not working"
for node in self.nodes:
            events = node.listevents()
            for event in events:
                if event['event_id'] == 0:
                    assert_equal(event['odds'][1]['spreadPoints'], 1)
                    assert_equal(event['odds'][1]['spreadHome'], 28000)
                    assert_equal(event['odds'][1]['spreadAway'], 14000)

ok it's looking at the node events but compari

[2020-01-17 13:29] ckti commented on #199
1. The winnings should be checked against the chain odds rather than the odds_events array or a static number
2. No testing of lose or draw events

[2020-01-17 18:16] ckti commented on #197
Working now may have been a configuration issue on my end

[2020-01-17 18:16] #197 closed, assigned to ckti

[2020-01-17 18:18] ckti commented on #129
am able to install wagerr from snap on first boot .. this minimizes the size of the images as well

[2020-01-22 14:36] ckti opened #201 "Create WagerrOS with electron app"
As snap does not yet work fully with the electron app (issue #164 ) a separate set of images with the electron wallet installed must be created

[2020-01-23 15:51] ckti commented on #164
new error with v1.2.0
Gtk:ERROR:../../../../gtk/gtkiconhelper.c:494:ensure_surface_for_gicon: assertion failed (error == NULL): Failed to load /org/gtk/libgtk/icons/48x48/status/image-missing.png: Unrecognized image file format (gdk-pixbuf-error-quark, 3)

[2020-01-27 13:27] ckti commented on #164
It breaks on the popup for blockchain selection (download or sync)

[2020-02-10 18:05] ckti commented on #201
Linux version of the electron app stalls after downloading blockchain

[2020-02-10 18:05] ckti commented on #129
All updated at https://github.com/wagerr/wagerros/releases

[2020-02-10 18:05] #129 closed, assigned to ckti

[2020-03-16 10:49] ckti opened #202 "Create Launchpad Recipes for Wagerr"
Launchpad recipes need to be built for wagerr

[2020-08-15 18:18] whittlem opened #205 "Unable to download Wagerr Core 3.1.0 (Atlantic City) on macOS Catalina 10.15.5"
I've followed these steps on https://github.com/wagerr/wagerr/releases

[code]

As soon as the dmg is downloaded it is instantly removed by the OS. I have tried curl, wget, downloading to a linux machine and scp'ing, taring it... nothing works. As soon as the dmg lands on the OS almost instantly it gets removed. Maybe it thinks there is a security issue.

[2020-08-17 10:11] whittlem opened #206 "Syncing issue with v3.0.1 while v3.1.0 doesn't work on macOS Catalina 10.15.5"
Due to the issue with Wagerr Core 3.1.0 (Atlantic City) on macOS Catalina 10.15.5 I'm trying to get 3.0.1 working on my Mac which it does. I was able to send 75% of my WGR to LiveCoin which worked. The 25% of my WGR in my wallet seems to be stuck now. The "Available" is 0, the "Pending" is the 25%, and "Total" is the 25%. The app seems to be stuck saying 41 weeks behind and it has said this over t

[2020-08-27 14:54] whittlem commented on #205
Is anyone actually looking at this? I have WGR stuck in my wallet which I can't access.

[2020-08-27 14:54] whittlem commented on #206
Is anyone actually looking at this? I have WGR stuck in my wallet which I can't access.

[2020-08-27 15:02] #206 closed, assigned to nobody

[2020-08-27 15:02] #205 closed, assigned to nobody

[2020-08-27 15:09] whittlem opened #207 "Wagerr Core version v3.1.0-Atlantic City (64-bit) stuck syncing half way"
I managed to get Wagerr Core version v3.1.0 installed onto my iMac by disabling all security settings! At least it is installed and runs now. The wallet seems to be stuck syncing. It says "Synchronising with network... 42 weeks behind. Scanning block 893208". I've restarted it and it rebuilds the index but then gets stuck at this point again. How do I resolve this? I see there is a "Wallet Repair"

[2020-12-22 21:13] trappist opened #245 "Masternode failure after 4.0 upgrade"
Masternode won't start after 4.0 upgrade. The message in the node-side logs after attempting remote activation:

[code]

Sending a `masternodeconnect` from another remote node on the cli returns

[code]

Which I can see (using strace) is what's being returned from the server with a 500 status code, not generated by the client.

All worked fine before the upgrade.

Masternode starts successfully

G

[2020-12-28 17:05] #245 closed, assigned to nobody

[2021-02-21 00:22] #207 closed, assigned to nobody

[2021-02-21 00:22] zeroedge83 commented on #207
Wagerr 4.0 is now released

[2021-03-04 11:09] ckti commented on #201
Use RPI4 with > 4gb ram
https://github.com/wagerr/wagerros/releases/tag/Wagerr-raspi-4.0.00

[2021-03-04 11:09] #201 closed, assigned to ckti, Cryptarchist

[2021-03-04 11:10] ckti commented on #164
Working with AMD64, ARM64 and ARM32 (Ubuntu Only) will open a new issue for Raspberry PI OS Arm32 not working
https://snapcraft.io/wagerr-electron-app/releases
Had to build and upload manually

[2021-03-05 10:31] #164 closed, assigned to ckti

[2021-03-05 10:57] ckti commented on #130
Have all but a few commands tested, zWgr is not currently tested nor is getpayoutinfo, getpoolinfo crashes, masternode connect is going to take an entire script by itself and masternodecurrent, mnbudgetrawvote, mnfinalbudget and startmasternode {missing & disabled} are not working

[2021-03-05 12:07] ckti commented on #199
Have these tests working in feature_betting.py now

[2021-03-05 12:07] #199 closed, assigned to ckti